# Session 1: Introduction to Python, Setup, Data Types

## Topics
- What is Python?
- Who uses Python?
- Advantages of Python?
- Installing Python & Jupyter
- Running Python code
- Basic syntax
- Variables
- Data types: int, float, str, bool, list, tuple, dict
- Data Structures: List, Set, Tuple, Dict

# What is Python and how to install Python?

https://kinsta.com/blog/install-python/

# How to install Jupyter

https://jupyter.org/install#jupyter-notebook

## Running Python Code
Use the cell below to try your first Python command.

In [ ]:
print('Hello, world!')

:

# Identifiers

Identifier is the name given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another.

Rules for Writing Identifiers:

1. Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

2. An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.

3. Keywords cannot be used as identifiers.

 We cannot use special symbols like !, @, #, $, % etc. in our identifier.

In [ ]:
a@ = 10             #can't use special symbols as an identifier

In [ ]:
9a = 10

In [ ]:
aa = 10

# Python Comments

Comments are lines that exist in computer programs that are ignored by compilers and interpreters. 

Including comments in programs makes code more readable for humans as it provides some information or explanation about what each part of a program is doing.

In general, it is a good idea to write comments while you are writing or updating a program as it is easy to forget your thought process later on, and comments written later may be less useful in the long term.

In Python, we use the hash `(#)` symbol to start writing a comment.

In [ ]:
#Print Hello, world to screen
print("Hello, world")

# Multi Line Comments

If we have comments that extend multiple lines, one way of doing it is to use hash (#) in the beginning of each line.

In [ ]:
#This is a long comment
#and it extends 
#Multiple lines

Another way of doing this is to use triple quotes, either ''' or """.

In [ ]:
"""
This is also a
perfect example of
multi-line comments
"""

# Python Statement

Instructions that a Python interpreter can execute are called statements.

Examples:

In [ ]:
 a = 1  #single statement

# Multi-Line Statement

In Python, end of a statement is marked by a newline character. But we can make a statement extend over multiple lines with the line continuation character (\).

In [ ]:
a = 2+3+\
    5+7+\
        11+13

In [ ]:
print(a)

In [ ]:
#another way is
a = (1 + 2 + 3 +
    4 + 5 + 6 + 
    7 + 8)
print(a)

In [ ]:
a = 10; b = 20; c = 30   #put multiple statements in a single line using ;
#But not recommended as this might take away all that is python 
a,b,c = 10,20,30

# Variables

A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

# Variable Assignments

In [ ]:
#We use the assignment operator (=) to assign values to a variable

a = 10
b = 5.5
c = "ML"

# Multiple Assignments

In [ ]:
a, b, c = 10, 5.5, "ML"

In [ ]:
a = b = c = "AI" #assign the same value to multiple variables at once

# Data Types

Python has various built-in data types, including:
- Numbers: Integers (int), floating-point numbers (float).
- Strings: Sequences of characters enclosed in single or double quotes (str).
- Booleans: True or False (bool).
- Lists: Ordered, mutable collections of items (list).
- Tuples: Ordered, immutable collections of items (tuple).
- Dictionaries: Unordered collections of key-value pairs (dict).

# Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [ ]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))

In [ ]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

In [ ]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?") 
print(isinstance(1+2j, complex))

# Boolean

 Boolean represents the truth values False and True

# Python Strings

String is sequence of Unicode characters. (ASCII, UTF-8)


We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. 

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

In [ ]:
s = "From: cs19btech11010@iith.ac.in"
print(s)

:

In [ ]:
print(s[0])
#last char s[len(s)-1] or s[-1]

# Question?
if the student is not from CS dept, but from CE dept, how to change s?

In [ ]:
#slicing
s[7] = 'e'

Python Strings are immutable!

This means that once a string object is created, its content cannot be changed.

When an operation appears to modify a string, such as concatenation or reassignment, a new string object is actually created in memory, and the variable is then made to refer to this new object. 

The original string object remains unchanged in memory until it is no longer referenced and subsequently garbage collected.

In [ ]:
s = "hello"
print(id(s))  # Prints the memory address of the string object

s = s + " world"
print(id(s))  # Prints a different memory address, as a new string object was created

Attempting to modify individual characters within a string will result in a TypeError:

In [ ]:
s = "hello"
s[0] = "H"  # This will raise a TypeError: 'str' object does not support item assignment

# Python List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

In [ ]:
a = [10, 20.5, "Hello"]
print(a[2])               #print 1st index element

Lists are mutable, meaning, value of elements of a list can be altered.

In [ ]:
a[1] = 30.7
print(a)

Adding into a list

For single element at the end

In [ ]:
lst = [1, 2, 3]
lst.append(4)
print(lst)   # [1, 2, 3, 4]

For multiple elements at the end

In [ ]:
lst.extend([5, 6])
print(lst)   # [1, 2, 3, 4, 5, 6]

To insert at an index

In [ ]:
lst.insert(1, "hello")
print(lst)   # [1, 'hello', 2, 3, 4, 5, 6]

To delete an item (at an index, or at the end by default)

In [ ]:
lst = [10, 20, 30]
lst.pop()        # removes 30
lst.pop(0)       # removes 10

To remove first occurence of a value

In [ ]:
lst = [1, 2, 3, 2]
lst.remove(2)  
print(lst)   # [1, 3, 2]

# Python Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [ ]:
t = (1, 1.5, "ML")

In [ ]:
print(t[1]) #extract particular element

In [ ]:
t[1] = 1.25

# Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [ ]:
a = {10, 30, 20, 40, 5}
print(a)

In [ ]:
print(type(a))             #print type of a

We can perform set operations like union, intersection on two sets. Set have unique values.

In [ ]:
s = {10, 20, 20, 30, 30, 30}
print(s)                    #automatically set won't consider duplicate elements

In [ ]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

To add

In [ ]:
s = {1, 2}
s.add(3)
print(s)   # {1, 2, 3}

To remove use remove or discard

In [ ]:
s.remove(3)
s.discard(1)

In [ ]:
s.discard(10)  # no error, even if item not present
s.remove(10) # error! if item not present

# Python Dictionary

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [ ]:
d = {'a': "apple", 'b': "bat"}
print(d['a'])

To add, we can directly assign

In [ ]:
d['c']= 'cat'
print(d)

To delete, we use del

In [ ]:
del d['c']
print(d)

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [ ]:
float(5)     #convert interger to float using float() method

In [ ]:
int(100.5)   #convert float to integer using int() method

In [ ]:
str(20)      #convert integer to string

Conversion to and from string must contain compatible values.

In [ ]:
int('10p')

In [ ]:
user = "satish"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

We can convert one sequence to other

In [ ]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

In [ ]:
list("Hello")       #convert String to list using list() method

# Python Input and Output

## Python Output
We use the print() function to output data to the standard output device

In [ ]:
print("Hello World")

In [ ]:
a = 10
print("The value of a is", a) #python 3
print("The value of a is " + str(a))

## Output Formatting

In [ ]:
a = 10; b = 20 #multiple statements in single line.

print("The value of a is {} and b is {}".format(a, b))    #default

In [ ]:
a = 10; b = 20  #multiple statements in single line

print("The value of b is {1} and a is {0}".format(a, b)) #specify position of arguments

In [ ]:
#we can use keyword arguments to format the string
print("Hello {name}, {greeting}".format(name="satish", greeting="Good Morning"))

In [ ]:
#we can combine positional arguments with keyword arguments
print('The story of {0}, {1}, and {other}'.format('Bill', 'Manfred',
                                                       other='Georg'))

## Python Input
want to take the input from the user. In Python, we have the input() function to allow this.

In [ ]:
num = input("Enter a number: ")
print(num)

# Question?
Guess what is the type of above input?

In [ ]:
type(num)

# Excercise 1
Accept a number from input stream and print its type. What do you find?

In [ ]:
num = input("Enter number: ")
print(type(num))

Yes, python always accepts inputs as str type. Later they can be typecasted as per the requirement!

# Excercise 2
Accept two inputs from input stream and print the product of both

In [ ]:
num1 = input("Enter number 1: ")
num2 = input("Enter number 2: ")
print(int(num1)*int(num2))